{% extends 'user/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block body %}
    <!-- dashboard start -->
        <div class="col-md-9 col-lg-10" style="background-color: #4d4d4d; height:690px;">
          <div class="container pt-3">
            <h5 class="text-light">Room List</h5>
            <form class="d-flex form-inline mb-2">
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">Search</span>
                  <input type="text" class="form-control" placeholder="RoomTag" aria-label="search" aria-describedby="basic-addon1">
                </div>
              </form>
            <div style="overflow-x:auto;">
            <table class="table table-bordered bg-light mb-0">
              <thead>
                <tr>
                  <th scope="col">SN</th>
                  <th scope="col">Room Tag</th>
                  <th scope="col">Location</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Total Views</th>
                  <th scope="col">Enquiry</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>KTMCH70B</td>
                  <td>KTMCH70C</td>
                  <td>KTMCH70D</td>
                  <td>KTMCH70E</td>
                  <td>KTMCH70F</td>
                </tr>
              </tbody>
            </table>
          </div>
            <div class="bg-light pt-2 pe-2">
              <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
              <p class="fw-bold d-flex ps-3 justify-content-center justify-content-sm-start justify-content-md-start justify-content-lg-start">Showing 10 of 50</p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
             <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center justify-content-sm-end justify-content-md-end justify-content-lg-end">
                <li class="page-item"><a class="page-link" href="#"><<</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">>></a></li>
              </ul>
            </nav>
          </div>
            </div>
          </div>
        </div>
      </div>
    <!-- dashboard end -->
{% endblock body %}