{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}
<div class="container-fluid bg-light">
    <div class="row py-5 justify-content-center">
      <div class="loginform col-lg-5" style="position: relative; padding-right: 100px; padding-bottom: 50px;">
        {% for message in messages %}
          <p id="messages">{{message}}</p>
        {% endfor %}
        <h3>Login</h3>
        <form action="" method="POST">
        {% csrf_token %}
            <div class="mt-3 mb-3">
              <label for="exampleInputUsername1" class="form-label">Username</label>
              <input type="text" class="form-control" id="exampleInputUsername1" name="username" aria-describedby="usernameHelp" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Log In</button>
          </form>
      </div>
      <div class="col-lg-5">
        <h3>Don't Have An Account</h3>
        <a class="btn btn-primary mt-3" href="{% url 'registration' %}">Register Now</a>
      </div>
    </div>
  </div>
{% endblock body %}