{% extends 'base.html' %}
{% load static %}
{% block title %}RoomDetail{% endblock title %}
{% block body %}
    <div class="container" style="background-color: #404040;">
      <!-- photo box start -->
      <div class="container py-5">
        <div class="row">
          <div class="col-md-3 col-lg-2 "  id="actualImage">
            <div class="mb-2 pt-5" >
              <img class="img-thumbnail" src="{% if rooms.image1 %}{{rooms.image1.url}}{%else%}{% static 'image/default.jpg' %}{%endif%}" onclick="updateSource" style="width:100%; height:119px;">
            </div>
            <div class="mb-2 pt-5">
              <img class="img-thumbnail" src="{% if rooms.image2 %}{{rooms.image2.url}}{%else%}{% static 'image/default.jpg' %}{%endif%}" style="width:100%; height:119px;">
            </div>
            <div class="mb-2 pt-5">
              <img class="img-thumbnail" src="{% if rooms.image3 %}{{rooms.image3.url}}{%else%}{% static 'image/default.jpg' %}{%endif%}" style="width:100%; height:119px;">
            </div>
          </div>
          <div class="col-lg-10 d-none d-sm-none d-md-block d-lg-block">
              <img id="clickedImage" width="1020" height="380" class="img-fluid" src="{% if rooms.image1 %}{{rooms.image1.url}}{%else%}{% static 'image/default.jpg' %}{%endif%}" class="rounded-0" alt="...">
          </div>
        </div>
      </div>
      <!-- photo box end -->
      <div class="container py-3 px-3" style="background-color: #4d4d4d;">
      <!-- detail box start -->
      <div class="container py-3">
        <div class="py-1 px-1">
            <ul class="list-unstyled list-inline text-end" style="font-size:10px">
              <li class="text-light">Date Posted: {{rooms.date_posted}}</li>
              <li class="text-light">{{rooms.location}}</li>
            </ul>
          </div>
          <div class="">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item text-light">Price:</li>
              <li class="list-inline-item text-light">Rs {{rooms.price}}</li>
            </ul>
          </div>
          <div class="">
            <h5 class="text-light">Description:</h5>
            <p class="text-light">{{rooms.description}}</p>
          </div>
        <div>
          <h5 class="text-light">Facilities:</h5>
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item text-light">{% if rooms.water %}Water{% endif %}</li>
            <li class="list-inline-item text-light">{% if rooms.parking %}Parking{% endif %}</li>
            <li class="list-inline-item text-light">{% if rooms.internet %}Internet{% endif %}</li>
          </ul>
        </div>
        <div class="row">
          <div class="col">
            <a  class='btn btn-primary mt-2' href='' >Enquiry</a>
          </div>
          <div class="col text-end">
            <a  class='btn btn-primary mt-2' href='' >Report</a>
          </div>
        </div>
      </div>
      <!-- detail box end -->
      </div>
      <!-- Similar room start -->
      <section class="container my-5">
        <div class="container">
          <h2 class="text-light mb-5">Similar Rooms</h2>
        </div>
        <div class="row container mt-3">
        {% for roomlist in similarroom|slice:"4" %}
          <div class='col-lg-3 col-md-6 col-12 mb-5'>
             <div id="roomCard" class='card'>
                      <a href="{%if room.pk %}{% url 'roomdetail' room.pk%}{%else%}{% url 'roomdetail'%}{%endif%}"><img src="{% if roomlist.image1 %}{{roomlist.image1.url}}{%else%}{% static 'image/default.jpg' %}{%endif%}" class='card-img-top' height="190" alt='Rento'></a>
                      <div class='card-body'>
                        <h5 class='card-title' >Price: {{roomlist.price}}</h5>
                        <hr>
                        <p class='card-text '>
                          {{roomlist.location}}
                        </p>
                        <hr>
                        <p class='card-text'>
                          Facilities:
                        </p>
                        <p class='card-text'>
                          {% if roomlist.water %}Water{% endif %}
                          {% if roomlist.parking %}Parking{% endif %}
                          {% if roomlist.internet %}Internet{% endif %}
                        </p>
                        <hr>
                        <a  class='btn btn-primary mt-2' href="{%if roomlist.pk %}{% url 'roomdetail' roomlist.pk%}{%else%}{% url 'roomdetail'%}{%endif%}" >Detail</a>
                      </div>
                    </div>
          </div>
        {%endfor%}
          
        </div>
      </section>
      <!-- Similar room start -->
  </div>
{% endblock body %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
      $(document).ready(function () {
        // Listen for clicks to "img" elements inside the element where id="sinistra"
        $("#actualImage img").click(function () {
          // Displays the source of the image clicked
          $('#clickedImage').attr('src',$(this).attr("src"));
        });
      });
  </script>
{% endblock script %}
